/* Your custom styles */
.form_div{ 
	
    margin-top: 5%;
}
.footer_div
{
	margin-top:0% !important" 
}

.row_d1
{
width:75%;
background-color:white !important;
margin-left:13% !important;

padding-top:2% !important;
padding-right:4% !important;
padding-left:4% !important;
}


.row_d
{
width:75%;
background-color:white !important;
margin-left:13% !important;

padding-top:2% !important;
padding-right:4% !important;
padding-left:4% !important;
}


